name: Build macOS app

on:
  workflow_dispatch:

jobs:
  build-mac:
    runs-on: macos-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build macOS app
        run: |
          pyinstaller --windowed --name EV_PresentationMac --icon icon_mac.icns pp.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: EV_PresentationMac-mac
          path: dist/EV_PresentationMac.app
